.element-px-annonces {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  background-color: #fcfdfd;
}

.element-px-annonces .GS-header-2 {
  display: flex;
  flex-direction: column;
  width: 790px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .menu-5 {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px 20px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  background-color: #fcfdfd;
}

.element-px-annonces .logo-2 {
  width: 110px;
  height: 50px;
  gap: 8px;
  margin-top: -5.00px;
  margin-bottom: -5.00px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-px-annonces .img-6 {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-px-annonces .frame-3 {
  display: inline-flex;
  height: 44px;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -2.00px;
  margin-bottom: -2.00px;
}

.element-px-annonces .bouton-14 {
  gap: 8px;
  padding: 12px;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3e5fbc;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .img-7 {
  margin-top: -2.00px;
  margin-bottom: -2.00px;
  position: relative;
  width: 24px;
  height: 24px;
}

.element-px-annonces .div-15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background: linear-gradient(31deg,
      rgba(27, 47, 83, 1) 0%,
      rgba(62, 95, 188, 1) 75%);
}

.element-px-annonces .div-wrapper-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-39 {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--title-medium-font-family);
  font-weight: var(--title-medium-font-weight);
  color: var(--confirmation);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  font-style: var(--title-medium-font-style);
}

.element-px-annonces .titre-5 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .heading-4 {
  display: flex;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .span-wrapper-4 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-px-annonces .text-wrapper-40 {
  font-weight: 700;
  line-height: 30px;
}

.element-px-annonces .div-16 {
  display: inline-flex;
  flex-direction: column;
  padding: 0px 0px 0.92px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .span-wrapper-5 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  color: #fcfdfd;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
  position: relative;
  font-weight: 400;
}

.element-px-annonces .vector-12 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 7.78px;
  margin-bottom: -2.00px;
  margin-left: -0.16px;
  margin-right: -2.00px;
}

.element-px-annonces .en-quelques-clics-et-3 {
  position: relative;
  align-self: stretch;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
}

.element-px-annonces .text-wrapper-41 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 16px;
  letter-spacing: 0.50px;
  line-height: 24px;
}

.element-px-annonces .div-17 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .rectangle-3 {
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 20px;
  object-fit: cover;
}

.element-px-annonces .div-18 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-42 {
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-small-font-family);
  font-weight: var(--title-small-font-weight);
  color: #3e5fbc;
  font-size: var(--title-small-font-size);
  letter-spacing: var(--title-small-letter-spacing);
  line-height: var(--title-small-line-height);
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  font-style: var(--title-small-font-style);
}

.element-px-annonces .vector-13 {
  height: 8px;
  margin-left: -0.61px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-px-annonces .titre-6 {
  display: flex;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-43 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-weight: var(--www-msb-formalites-fr-semantic-heading-2-font-weight);
  color: var(--wwwmsb-formalitesfrcerulean-blue);
  font-size: var(--www-msb-formalites-fr-semantic-heading-2-font-size);
  letter-spacing: var(--www-msb-formalites-fr-semantic-heading-2-letter-spacing);
  line-height: var(--www-msb-formalites-fr-semantic-heading-2-line-height);
  position: relative;
  font-family: var(--www-msb-formalites-fr-semantic-heading-2-font-family);
  font-style: var(--www-msb-formalites-fr-semantic-heading-2-font-style);
}

.element-px-annonces .la-publication-d-une-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
}

.element-px-annonces .bouton-15 {
  height: 40px;
  justify-content: center;
  gap: 4px;
  padding: 8px 12px;
  background-color: var(--info);
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .text-button-12 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
}

.element-px-annonces .img-8 {
  position: relative;
  width: 24px;
  height: 24px;
}

.element-px-annonces .MOCK-UP-AL-2 {
  position: relative;
  width: 424px;
  height: 300px;
  object-fit: cover;
}

.element-px-annonces .vector-14 {
  height: 8px;
  margin-left: -0.41px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-px-annonces .annonceslegales-pro-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  line-height: 14px;
}

.element-px-annonces .text-wrapper-44 {
  text-decoration: underline;
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-px-annonces .text-wrapper-45 {
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-px-annonces .text-wrapper-46 {
  font-weight: 700;
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-px-annonces .avantages-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: var(--gris);
}

.element-px-annonces .vector-15 {
  height: 8px;
  margin-left: -0.14px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-px-annonces .titre-7 {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .pourquoi-choisir-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: var(--wwwmsb-formalitesfrindigo);
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-px-annonces .nous-assurons-une-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #030303;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.element-px-annonces .div-19 {
  display: inline-flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .row-3 {
  padding: 0px 0px 40px;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.element-px-annonces .service-wrapper-5 {
  flex-direction: column;
  gap: 20px;
  padding: 40px 20px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 20px;
  border: 2px solid;
  border-color: #f1f1f1;
  position: relative;
  display: flex;
  align-items: center;
}

.element-px-annonces .nb-2 {
  display: flex;
  flex-direction: column;
  width: 21px;
  align-items: center;
  justify-content: center;
  padding: 2px 0px;
  position: relative;
  flex: 0 0 auto;
  background-color: #3e5fbc;
  border-radius: 10px;
}

.element-px-annonces .element-3 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0;
  line-height: 12px;
}

.element-px-annonces .text-wrapper-47 {
  font-weight: var(--body-small-font-weight);
  line-height: var(--body-small-line-height);
  font-family: var(--body-small-font-family);
  font-style: var(--body-small-font-style);
  letter-spacing: var(--body-small-letter-spacing);
  font-size: var(--body-small-font-size);
}

.element-px-annonces .text-wrapper-48 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--title-small-font-family);
  font-weight: var(--title-small-font-weight);
  color: #3e5fbc;
  font-size: var(--title-small-font-size);
  text-align: center;
  letter-spacing: var(--title-small-letter-spacing);
  line-height: var(--title-small-line-height);
  white-space: nowrap;
  font-style: var(--title-small-font-style);
}

.element-px-annonces .texte-3 {
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-49 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: #030303;
  font-size: var(--body-small-font-size);
  text-align: center;
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  font-style: var(--body-small-font-style);
}

.element-px-annonces .row-4 {
  padding: 40px 0px 0px;
  display: flex;
  flex-direction: column;
  width: 250px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.element-px-annonces .CTA-3 {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .bouton-16 {
  height: 40px;
  gap: 4px;
  padding: 8px 12px;
  flex: 0 0 auto;
  background-color: #3e5fbc;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .text-button-13 {
  font-weight: 400;
  color: #fcfdfd;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  white-space: nowrap;
}

.element-px-annonces .bouton-17 {
  gap: 4px;
  padding: 8px 12px;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 8px;
  border: 1px solid;
  border-color: #3e5fbc;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .text-button-14 {
  font-weight: 400;
  color: #3e5fbc;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  white-space: nowrap;
}

.element-px-annonces .autres-services-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .vector-16 {
  height: 8px;
  margin-left: -0.30px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-px-annonces .liste-services-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .service-wrapper-6 {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 20px;
}

.element-px-annonces .icon-3 {
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .FORMALIT-s-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open Sauce One-Bold", Helvetica;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 16px;
  position: relative;
  align-self: stretch;
  font-weight: 400;
  color: #030303;
}

.element-px-annonces .text-wrapper-50 {
  font-weight: var(--title-medium-font-weight);
  line-height: var(--title-medium-line-height);
  font-family: var(--title-medium-font-family);
  font-style: var(--title-medium-font-style);
  letter-spacing: var(--title-medium-letter-spacing);
  font-size: var(--title-medium-font-size);
}

.element-px-annonces .text-wrapper-51 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  text-align: center;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.element-px-annonces .titre-8 {
  display: inline-flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .heading-5 {
  display: inline-flex;
  gap: 4px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .vector-17 {
  height: 7.78px;
  margin-left: -0.43px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-px-annonces .consacrez-le-votre-3 {
  position: relative;
  width: fit-content;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 30px;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.element-px-annonces .sur-titre-2 {
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-52 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-medium-font-family);
  font-weight: var(--title-medium-font-weight);
  color: var(--confirmation);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-medium-font-style);
}

.element-px-annonces .bouton-18 {
  height: 44px;
  gap: 8px;
  padding: 12px;
  background-color: #fcfdfd;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3e5fbc;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .text-button-15 {
  margin-top: -1.00px;
  font-weight: var(--label-large-font-weight);
  color: #3e5fbc;
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--label-large-font-family);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}

.element-px-annonces .d-GS-footer-3 {
  display: flex;
  flex-direction: column;
  width: 790px;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fcfdfd;
}

.element-px-annonces .logo-RS-3 {
  width: 290px;
  gap: 24px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-px-annonces .logo-3 {
  width: 144px;
  height: 50px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-px-annonces .text-wrapper-53 {
  align-self: stretch;
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  position: relative;
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
}

.element-px-annonces .outline-brands-wrapper-3 {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--gris);
  border-radius: 100px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .div-20 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .span-wrapper-6 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  line-height: 14px;
}

.element-px-annonces .text-wrapper-54 {
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-size: var(--body-medium-font-size);
}

.element-px-annonces .menu-list-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-55 {
  margin-top: -1.00px;
  font-family: var(--body-medium-font-family);
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  position: relative;
  align-self: stretch;
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-style: var(--body-medium-font-style);
}

.element-px-annonces .NL-3 {
  width: 320px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .newsletter-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  line-height: 14px;
}

.element-px-annonces .text-wrapper-56 {
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-size: var(--body-medium-font-size);
}

.element-px-annonces .div-21 {
  gap: 16px;
  align-self: stretch;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .input-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .zone-d-interaction-3 {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
  border: 1px solid;
  border-color: #03030380;
}

.element-px-annonces .champ-rempli-3 {
  position: relative;
  flex: 1;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--noir-light);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.element-px-annonces .checkbox-2 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  flex: 0 0 auto;
}

.element-px-annonces .check-3 {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fcfdfd;
  border-radius: 4px;
  border: 1px solid;
  border-color: #030303;
}

.element-px-annonces .label-3 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  line-height: 14px;
}

.element-px-annonces .bouton-19 {
  height: 32px;
  gap: 2px;
  padding: 8px 6px;
  background-color: #3e5fbc;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-px-annonces .text-button-16 {
  margin-top: -1.00px;
  font-weight: var(--body-small-font-weight);
  color: #fcfdfd;
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-small-font-family);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.element-px-annonces .line-3 {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.element-px-annonces .rglementaires-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-px-annonces .text-wrapper-57 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}

.element-px-annonces .text-wrapper-58 {
  position: relative;
  width: fit-content;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}