.element-contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 80px 0px 0px;
  position: relative;
  background-color: #fcfdfd;
}

.element-contact .hero {
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 400px;
  align-items: center;
  padding: 0px 20px;
  position: relative;
}

.element-contact .background {
  padding: 80px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 0px 0px 15.09px 15.09px;
  background: linear-gradient(
    31deg,
    rgba(27, 47, 83, 1) 0%,
    rgba(62, 95, 188, 1) 75%
  );
}

.element-contact .container {
  display: flex;
  flex-direction: column;
  width: 650px;
  align-items: flex-start;
  gap: 20px;
  padding: 0px 20px 0px 0px;
  position: relative;
}

.element-contact .div-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .text-wrapper {
  position: relative;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--title-medium-font-family);
  font-weight: var(--title-medium-font-weight);
  color: var(--confirmation);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  font-style: var(--title-medium-font-style);
}

.element-contact .titre {
  display: flex;
  gap: 8px;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .passons-l-action {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 28px;
}

.element-contact .span {
  font-weight: 700;
  line-height: 30px;
}

.element-contact .heading {
  display: flex;
  gap: 4px;
  align-self: stretch;
  width: 100%;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .span-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.element-contact .div {
  display: inline-flex;
  flex-direction: column;
  padding: 0px 0px 0.92px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .p {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.element-contact .vector {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 7.78px;
  margin-bottom: -2.00px;
  margin-left: -0.15px;
  margin-right: -2.00px;
}

.element-contact .l-externalisation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  margin-top: -1.00px;
  font-family: var(--body-large-font-family);
  font-weight: var(--body-large-font-weight);
  color: #fcfdfd;
  font-size: var(--body-large-font-size);
  letter-spacing: var(--body-large-letter-spacing);
  line-height: var(--body-large-line-height);
  font-style: var(--body-large-font-style);
}

.element-contact .ILLUSTRATIONS-HEROS {
  position: relative;
  width: 400px;
  height: 350px;
  margin-top: -55.00px;
  margin-bottom: -55.00px;
  margin-right: -50.00px;
  object-fit: cover;
}

.element-contact .contact {
  display: flex;
  width: 1200px;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .left-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  padding: 40px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: var(--gris);
  border-radius: 20px;
}

.element-contact .text-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-small-font-family);
  font-weight: var(--title-small-font-weight);
  color: #3e5fbc;
  font-size: var(--title-small-font-size);
  letter-spacing: var(--title-small-letter-spacing);
  line-height: var(--title-small-line-height);
  white-space: nowrap;
  font-style: var(--title-small-font-style);
}

.element-contact .img {
  height: 8px;
  margin-left: -0.20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-contact .titre-2 {
  display: flex;
  align-self: stretch;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .span-wrapper-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #3e5fbc;
  font-size: 24px;
  letter-spacing: 0;
  line-height: 24px;
}

.element-contact .form {
  flex-direction: column;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .row {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .input {
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.element-contact .label-attribut {
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .label-text {
  width: fit-content;
  color: #030303;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .zone-d-interaction {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 8px;
}

.element-contact .champ-rempli {
  position: relative;
  flex: 1;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--noir-light);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
}

.element-contact .input-wrapper {
  display: flex;
  height: 150px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
}

.element-contact .input-2 {
  flex: 1;
  align-self: stretch;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.element-contact .text-wrapper-3 {
  position: relative;
  width: fit-content;
  font-family: var(--body-small-font-family);
  font-weight: var(--body-small-font-weight);
  color: var(--noir-light);
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.element-contact .zone-d-interaction-2 {
  flex: 1;
  flex-grow: 1;
  background-color: #fcfdfd;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.element-contact .checkbox {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-contact .check {
  position: relative;
  width: 16px;
  height: 16px;
  background-color: #fcfdfd;
  border-radius: 4px;
  border: 1px solid;
  border-color: #030303;
}

.element-contact .label {
  flex: 1;
  color: transparent;
  line-height: 14px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .text-wrapper-4 {
  color: #030303;
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-contact .text-wrapper-5 {
  color: #e63032;
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-contact .div-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .bouton {
  height: 40px;
  gap: 4px;
  padding: 8px 12px;
  flex: 0 0 auto;
  background-color: #3e5fbc;
  border-radius: 8px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-contact .text-button {
  color: #fcfdfd;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .notre-quipe-s-engage {
  position: relative;
  flex: 1;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
}

.element-contact .text-wrapper-6 {
  color: #3e5fbc;
  line-height: var(--body-small-line-height);
  font-family: var(--body-small-font-family);
  font-style: var(--body-small-font-style);
  font-weight: var(--body-small-font-weight);
  letter-spacing: var(--body-small-letter-spacing);
  font-size: var(--body-small-font-size);
}

.element-contact .la-gazette-solutions {
  position: relative;
  align-self: stretch;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--noir);
  font-size: 12px;
  letter-spacing: 0;
  line-height: 12px;
}

.element-contact .text-wrapper-7 {
  color: #030303;
  line-height: var(--body-small-line-height);
  font-family: var(--body-small-font-family);
  font-style: var(--body-small-font-style);
  font-weight: var(--body-small-font-weight);
  letter-spacing: var(--body-small-letter-spacing);
  font-size: var(--body-small-font-size);
}

.element-contact .text-wrapper-8 {
  color: #030303;
  line-height: var(--body-small-line-height);
  text-decoration: underline;
  font-family: var(--body-small-font-family);
  font-style: var(--body-small-font-style);
  font-weight: var(--body-small-font-weight);
  letter-spacing: var(--body-small-letter-spacing);
  font-size: var(--body-small-font-size);
}

.element-contact .right-content {
  display: flex;
  flex-direction: column;
  width: 320px;
  align-items: flex-start;
  gap: 20px;
  position: relative;
}

.element-contact .vector-2 {
  height: 8px;
  margin-left: -0.34px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-contact .img-2 {
  position: relative;
  width: 50px;
  height: 40px;
}

.element-contact .coordonnes {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 0 0 auto;
  position: relative;
  justify-content: center;
}

.element-contact .text {
  margin-top: -1.00px;
  color: #030303;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .text-2 {
  color: #030303;
  line-height: 14px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .text-wrapper-9 {
  letter-spacing: 0.04px;
  line-height: 20px;
  text-decoration: underline;
}

.element-contact .text-wrapper-10 {
  color: #030303;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .call-to-action {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: center;
  padding: 0px 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .background-2 {
  height: 200px;
  justify-content: center;
  gap: 100px;
  padding: 40px 80px;
  display: flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 0px 0px 15.09px 15.09px;
  background: linear-gradient(
    31deg,
    rgba(27, 47, 83, 1) 0%,
    rgba(62, 95, 188, 1) 75%
  );
}

.element-contact .container-2 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .titre-3 {
  display: inline-flex;
  gap: 8px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .heading-2 {
  display: inline-flex;
  gap: 4px;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .vector-3 {
  height: 7.78px;
  margin-left: -0.43px;
  position: relative;
  align-self: stretch;
  width: 100%;
  margin-bottom: -2.00px;
  margin-right: -2.00px;
}

.element-contact .consacrez-le-votre {
  position: relative;
  width: fit-content;
  font-family: "IBM Plex Sans Arabic", Helvetica;
  font-weight: 400;
  color: #fcfdfd;
  font-size: 28px;
  letter-spacing: 0;
  line-height: 28px;
  white-space: nowrap;
}

.element-contact .sur-titre {
  align-items: center;
  justify-content: center;
  gap: 8px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .text-wrapper-11 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--title-medium-font-family);
  font-weight: var(--title-medium-font-weight);
  color: var(--confirmation);
  font-size: var(--title-medium-font-size);
  letter-spacing: var(--title-medium-letter-spacing);
  line-height: var(--title-medium-line-height);
  white-space: nowrap;
  font-style: var(--title-medium-font-style);
}

.element-contact .bouton-2 {
  height: 44px;
  gap: 8px;
  padding: 12px;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3e5fbc;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-contact .text-button-2 {
  margin-top: -1.00px;
  font-weight: var(--label-large-font-weight);
  color: #3e5fbc;
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--label-large-font-family);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}

.element-contact .d-GS-footer {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
  gap: 40px;
  padding: 40px 80px;
  position: relative;
  flex: 0 0 auto;
  background-color: #fcfdfd;
}

.element-contact .footer {
  gap: 80px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: transparent;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.element-contact .footer-content {
  justify-content: space-between;
  flex: 1;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  position: relative;
}

.element-contact .logo-RS {
  width: 290px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-contact .logo {
  width: 144px;
  height: 50px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-contact .PRIMAIRE {
  position: relative;
  flex: 1;
  align-self: stretch;
  width: 100%;
  flex-grow: 1;
}

.element-contact .text-wrapper-12 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.element-contact .RS {
  align-items: flex-start;
  gap: 20px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .outline-brands-wrapper {
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px;
  background-color: var(--gris);
  border-radius: 100px;
  display: inline-flex;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .img-3 {
  position: relative;
  width: 24px;
  height: 24px;
}

.element-contact .div-3 {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .span-wrapper-3 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: #030303;
  font-size: 14px;
  line-height: 14px;
}

.element-contact .text-wrapper-13 {
  font-weight: var(--body-medium-font-weight);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-size: var(--body-medium-font-size);
}

.element-contact .menu-list {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
}

.element-contact .text-wrapper-14 {
  position: relative;
  align-self: stretch;
  margin-top: -1.00px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-style: var(--body-medium-font-style);
}

.element-contact .NL {
  width: 320px;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-contact .newsletter {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 14px;
  line-height: 14px;
}

.element-contact .text-wrapper-15 {
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  font-family: var(--body-medium-font-family);
  font-style: var(--body-medium-font-style);
  font-size: var(--body-medium-font-size);
}

.element-contact .div-4 {
  gap: 16px;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-contact .input-3 {
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  position: relative;
}

.element-contact .zone-d-interaction-3 {
  height: 44px;
  border: 1px solid;
  border-color: #03030380;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  padding: 12px 8px;
  position: relative;
  align-self: stretch;
  width: 100%;
  border-radius: 8px;
}

.element-contact .champ-rempli-2 {
  position: relative;
  flex: 1;
  height: 20px;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  color: var(--noir-light);
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 20px;
  white-space: nowrap;
  background: transparent;
  border: none;
  padding: 0;
}

.element-contact .div-5 {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-contact .label-2 {
  width: fit-content;
  color: #030303;
  line-height: 14px;
  position: relative;
  margin-top: -1.00px;
  font-family: "Montserrat", Helvetica;
  font-weight: 400;
  font-size: 14px;
}

.element-contact .text-wrapper-16 {
  letter-spacing: 0.04px;
  line-height: 20px;
}

.element-contact .bouton-3 {
  height: 32px;
  gap: 2px;
  padding: 8px 6px;
  align-self: stretch;
  background-color: #3e5fbc;
  border-radius: 6px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-contact .text-button-3 {
  margin-top: -1.00px;
  font-weight: var(--body-small-font-weight);
  color: #fcfdfd;
  font-size: var(--body-small-font-size);
  letter-spacing: var(--body-small-letter-spacing);
  line-height: var(--body-small-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--body-small-font-family);
  white-space: nowrap;
  font-style: var(--body-small-font-style);
}

.element-contact .line {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.element-contact .rglementaires {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 40px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.element-contact .text-wrapper-17 {
  position: relative;
  width: fit-content;
  margin-top: -1.00px;
  font-family: var(--body-medium-font-family);
  font-weight: var(--body-medium-font-weight);
  color: #030303;
  font-size: var(--body-medium-font-size);
  letter-spacing: var(--body-medium-letter-spacing);
  line-height: var(--body-medium-line-height);
  white-space: nowrap;
  font-style: var(--body-medium-font-style);
}

.element-contact .GS-header {
  display: flex;
  flex-direction: column;
  width: 1200px;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
}

.element-contact .menu {
  display: flex;
  width: 1200px;
  height: 80px;
  align-items: center;
  gap: 40px;
  padding: 20px 20px 20px 80px;
  position: relative;
  background-color: #fcfdfd;
}

.element-contact .PRIMAIRE-wrapper {
  width: 144px;
  height: 50px;
  gap: 8px;
  margin-top: -5.00px;
  margin-bottom: -5.00px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.element-contact .menu-2 {
  display: flex;
  align-items: center;
  gap: 20px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.element-contact .menu-3 {
  display: inline-flex;
  align-items: center;
  position: relative;
  align-self: stretch;
  flex: 0 0 auto;
}

.element-contact .frame {
  display: inline-flex;
  align-items: center;
  gap: 10px;
  position: relative;
  flex: 0 0 auto;
  margin-top: -4.00px;
  margin-bottom: -4.00px;
}

.element-contact .bouton-4 {
  gap: 8px;
  padding: 12px;
  align-self: stretch;
  flex: 0 0 auto;
  background-color: #fcfdfd;
  border-radius: 10px;
  border: 1px solid;
  border-color: #3e5fbc;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-contact .text-button-4 {
  font-weight: var(--label-large-font-weight);
  color: #3e5fbc;
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--label-large-font-family);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}

.element-contact .bouton-5 {
  height: 48px;
  gap: 8px;
  padding: 12px;
  flex: 0 0 auto;
  background-color: #3e5fbc;
  border-radius: 10px;
  display: inline-flex;
  align-items: center;
  position: relative;
}

.element-contact .text-button-5 {
  font-weight: var(--label-large-font-weight);
  color: #fcfdfd;
  font-size: var(--label-large-font-size);
  letter-spacing: var(--label-large-letter-spacing);
  line-height: var(--label-large-line-height);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  font-family: var(--label-large-font-family);
  white-space: nowrap;
  font-style: var(--label-large-font-style);
}
