:root {
  --solutions: rgba(230, 48, 50, 1);
  --blanc: rgba(252, 253, 253, 1);
  --primaire: #3e5fbc;
  --noir: rgba(33, 33, 33, 1);
  --confirmation: rgba(191, 245, 217, 1);
  --gris: rgba(242, 242, 242, 1);
  --info: rgba(191, 219, 245, 1);
  --wwwmsb-formalitesfrindigo: rgba(62, 95, 188, 1);
  --noir-light: rgba(3, 3, 3, 0.5);
  --body-medium-font-family: "Montserrat", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 16px;
  --body-medium-letter-spacing: 0.25px;
  --body-medium-line-height: 24px;
  --body-medium-font-style: normal;
  --label-large-font-family: "Montserrat", Helvetica;
  --label-large-font-weight: 500;
  --label-large-font-size: 16px;
  --label-large-letter-spacing: 0.1px;
  --label-large-line-height: 24px;
  --label-large-font-style: normal;
  --body-large-font-family: "Montserrat", Helvetica;
  --body-large-font-weight: 400;
  --body-large-font-size: 18px;
  --body-large-letter-spacing: 0.5px;
  --body-large-line-height: 28px;
  --body-large-font-style: normal;
  --title-small-font-family: "Open Sauce One", Helvetica;
  --title-small-font-weight: 500;
  --title-small-font-size: 16px;
  --title-small-letter-spacing: 0px;
  --title-small-line-height: 24px;
  --title-small-font-style: normal;
  --title-medium-font-family: "Open Sauce One", Helvetica;
  --title-medium-font-weight: 700;
  --title-medium-font-size: 20px;
  --title-medium-letter-spacing: 0px;
  --title-medium-line-height: 28px;
  --title-medium-font-style: normal;
  --body-small-font-family: "Montserrat", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 14px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 20px;
  --body-small-font-style: normal;
  --display-large-font-family: "IBM Plex Sans Arabic", Helvetica;
  --display-large-font-weight: 800;
  --display-large-font-size: 50px;
  --display-large-letter-spacing: 0px;
  --display-large-line-height: 64px;
  --display-large-font-style: normal;
  --label-medium-font-family: "Montserrat", Helvetica;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 14px;
  --label-medium-letter-spacing: 0.5px;
  --label-medium-line-height: 20px;
  --label-medium-font-style: normal;
}