{% extends 'accueil_base.html.twig' %}

{% block title %}Charte sur les cookies - Gazette Solutions
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/charte_cookies/style.css') }}">
{% endblock %}

{% block content %}
	<!-- Main Content -->
	<section class="services-section">
		<div class="section-tag">
			<span class="tag-text">VOS DONNÉES</span>
			<img src="https://c.animaapp.com/ml2mt8s50CfbBZ/img/vector-14.svg" alt="" class="tag-underline">
		</div>

		<h1 class="page-title">Charte sur les cookies</h1>

		<div class="content-text">
			<p>
				Le site <a href="https://www.gazettesolutions.fr">gazettesolutions.fr</a> (ci-après le « Site ») est édité par la société La Gazette Solutions, SARL au capital de 100 000 euros, dont le siège social est situé au 7 rue Jacquemars Giélée, 59800 Lille, immatriculée au RCS de Lille Métropole sous le numéro 794 696 344.<br><br>

				Cette Charte a pour objectif de vous informer du dépôt et de l'utilisation de cookies lors de la navigation sur notre Site et des moyens mis à votre disposition pour paramétrer le fonctionnement des cookies. Notre Charte est susceptible d'être mise à jour à tout moment par nos soins et ces modifications prendront effet immédiatement. Nous vous invitons ainsi à vous y référer régulièrement afin de prendre connaissance de sa dernière version disponible. En poursuivant la navigation sur le Site après avoir pris connaissance de la présente Charte, vous acceptez l'utilisation des cookies sur le navigateur selon notre Charte, sauf si vous les avez désactivés.<br><br>

				<strong>Qu'est ce qu'un cookie ?</strong><br><br>

				Un « cookie » ou « traceur » est toute technologie permettant d'écrire ou de lire une information appareil (ordinateur, tablette, mobile) via lequel vous consultez notre site internet.<br><br>

				Les cookies permettent de conserver temporairement des informations relatives à votre navigation. Les cookies nous permettent notamment :<br><br>
				• Assurer le bon fonctionnement du site et une navigation sécurisée,<br>
				• Vous proposer des fonctionnalités de personnalisation du contenu,<br>
				• Vous adresser des communications et des publicités personnalisées sur le site ou sur des médias tiers grâce à nos partenaires et gérer notre relation avec nos partenaires (à défaut, La Gazette diffusera toujours des publicités, mais elles ne seront pas adaptées à vos centres d'intérêt).<br>
				• Les différentes typologies de cookies que nous utilisons sont détaillées dans la rubrique suivante.<br><br>

				<strong>Quels cookies utilisons-nous ?</strong><br><br>

				Le Site vous laisse la possibilité d'accepter ou non l'installation sur votre appareil des Cookies en fonction de l'usage qui en est fait à l'exception des Cookies essentiels qui sont indispensables au bon fonctionnement du Site :<br><br>

				<strong>Cookies essentiels</strong><br>
				Ces Cookies sont indispensables au bon fonctionnement du site. Ils permettent de : mémoriser vos choix concernant les Cookies soumis à consentement, assurer le fonctionnement technique du site (ex: équilibrage de la charge des serveurs, déploiement de correctif urgent, outils de sécurité), mesurer l'audience du site sous forme de statistiques anonymes pour détecter les problèmes de navigation et les corriger, et mener les opérations d'administration courante du site (optimiser son ergonomie et son contenu).<br><br>

				<strong>Cookies publicitaires</strong><br>
				Le Site a recours à des partenaires pour promouvoir ses produits et services sur le web ou sur d'autres canaux et vous proposer des publicités personnalisées, et donc vous adresser des offres qui correspondent à vos centres d'intérêt.<br><br>

				<strong>Publicité personnalisée tous supports digitaux</strong><br><br>

				<strong>Rémunération des partenaires publicitaires et amélioration des campagnes</strong><br>
				Le Site et ses partenaires utilisent des Cookies afin de mesurer la performance des campagnes publicitaires afin d'optimiser ces campagnes et rémunérer les acteurs concernés.<br><br>

				Nos partenaires publicitaires sont :<br>
				Google Ads<br>
				LinkedIn Ads<br><br>

				<strong>Quelles données sont collectées ?</strong><br><br>

				Le détail précis des données que nous collectons par des cookies varie en fonction des besoins spécifiques, mais les principales données que nous collectons généralement sur notre Site sont les suivantes :<br><br>
				• Données de connexion,<br>
				• Données de navigation sur notre site (pages consultées, durée de visite, recherches...),<br>
				• Données du navigateur,<br>
				• Données de l'appareil,<br>
				• Données établissant un profil publicitaire<br><br>

				Pour plus d'informations concernant les traitements de données personnelles de notre Site, nous vous invitons à consulter notre <a href="{{ path('app_confidentialite') }}">charte données personnelles</a>.<br><br>

				Pour plus d'information concernant les Partenaires et leur pratique RGPD :<br>
				Google Ads : <a href="https://policies.google.com/technologies/ads?hl=fr">https://policies.google.com/technologies/ads?hl=fr</a><br>
				LinkedIn : <a href="https://fr.linkedin.com/legal/cookie-policy?">https://fr.linkedin.com/legal/cookie-policy?</a><br>
				Google Ad Manager : <a href="https://policies.google.com/technologies/ads?hl=fr">https://policies.google.com/technologies/ads?hl=fr</a><br><br>

				<strong>Pour quelle durée ?</strong><br><br>
				La durée de validité de vos choix est de un (1) an.<br>
				La durée de validité du traceur est proportionnée à l'objectif poursuivi. Il en va de même pour la durée de conservation des données collectées.<br><br>

				<strong>Quels sont vos choix concernant les cookies ?</strong><br><br>
				Plusieurs possibilités vous sont offertes pour gérer les cookies. Vous pouvez à tout moment autoriser, limiter ou interdire les cookies en modifiant les paramètres de votre navigateur tel que décrit ci-dessous. Nous attirons votre attention sur le fait que tout paramétrage que vous pouvez entreprendre sera susceptible de modifier votre navigation sur Internet et vos conditions d'accès à certains services nécessitant l'utilisation de cookies.<br><br>

				<strong>L'accord sur les Cookies</strong><br>
				Il sera considéré que vous avez consenti au dépôt des cookies pour le site si vous avez cliqué sur le bouton “Accepter tout” au 1er niveau.<br><br>

				<strong>Le refus des Cookies</strong><br>
				Si vous refusez l'enregistrement de Cookies dans votre terminal, ou si vous supprimez ceux qui y sont enregistrés, vous ne pourrez plus bénéficier d'un certain nombre de fonctionnalités qui sont néanmoins nécessaires pour naviguer dans certains espaces de notre site et vous proposer le meilleur service.<br><br>
				Le cas échéant, nous déclinons toute responsabilité pour les conséquences liées au fonctionnement dégradé de nos services résultant de l'impossibilité pour nous d'enregistrer ou de consulter les Cookies nécessaires à leur fonctionnement et que vous auriez refusés ou supprimés.<br><br>

				<strong>Comment accepter / refuser les cookies ?</strong><br><br>
				Afin de régler la configuration des cookies sur notre site vous pouvez :<br><br>

				<strong>Gérer votre configuration sur notre site via le bandeau “cookies”</strong><br>
				Vous êtes informé que l'opposition au cookie se fait par le dépôt d'un cookie. Par conséquent, l'opposition ne vaut que pour l'appareil sur lequel vous vous opposez au cookie. Si vous vous connectez avec un autre appareil, ou si vous supprimez les cookies de votre appareil, vous devrez de nouveau cliquer sur ce bouton ci-dessus pour vous opposer au dépôt de cookie.<br><br>
				<a href="#">Gérer vos cookies</a><br><br>

				<strong>Paramétrer votre navigateur :</strong><br>
				Pour la gestion des cookies et de vos choix, le paramétrage de chaque navigateur est différent. Elle est décrite dans le menu d'aide de votre navigateur, qui vous permettra de savoir de quelle manière modifier vos souhaits en matière de cookies. Le paramétrage est susceptible de modifier l'utilisation et l'accès à nos services nécessitant l'utilisation des cookies. Si votre navigateur est configuré de façon à refuser l'ensemble des cookies, il est possible que vous soyez dans l'impossibilité de passer commande ou de profiter des fonctionnalités au bon fonctionnement du site. Le paramétrage doit être effectué dans chaque navigateur.<br><br>
				Attention, la prise en compte de votre souhait repose sur un cookie. Si vous supprimez tous les cookies enregistrés dans votre terminal (via votre navigateur), nous - ou nos prestataires - ne saurons plus que vous avez choisi cette option.<br><br>
				Les éléments de paramétrage sont spécifiques à chaque navigateur. Nous vous invitons à consulter la page suivante pour procéder aux réglages nécessaires : <a href="https://www.cnil.fr/fr/les-conseils-de-la-cnil-pour-maitriser-votre-navigateur">https://www.cnil.fr/fr/les-conseils-de-la-cnil-pour-maitriser-votre-navigateur</a><br><br>
				Pour les autres terminaux (smartphones, tablettes, objets connectés), nous vous invitons à consulter le menu d'aide de votre navigateur.<br><br>

				<strong>Utiliser une plateforme interprofessionnelle de gestion des cookies</strong><br>
				Certaines plateformes interprofessionnelles permettent la gestion en ligne des cookies. À titre d'exemple le site YourOnlineChoices, qui est proposé par de nombreux professionnels de la publicité digitale regroupés au sein de l'association européenne EDAA (European Digital Advertising Alliance) et géré en France par l'Interactive Advertising Bureau (IAB) France.<br><br>
				Vous pouvez, pour les entreprises inscrites sur cette plateforme, choisir d'activer ou de désactiver l'utilisation de cookies pour vous proposer des publicités correspondant à vos centres d'intérêts : <a href="http://www.youronlinechoices.com/fr/controler-ses-cookies/">http://www.youronlinechoices.com/fr/controler-ses-cookies/</a><br><br>
				Cette action n'empêche pas l'affichage de publicités sur les sites que vous consultez, elle permet (pour les entreprises inscrites) d'empêcher la collecte et l'utilisation de données dans l'objectif de la faire correspondre à vos centres d'intérêts.<br><br>
				Les cookies déposés dans le cadre des boutons de partage sont aussi inclus au sein de cette plateforme.<br><br>

				<strong>Plug-ins ou Add-ons</strong><br>
				En complément des solutions évoquées précédemment, il existe des outils (sous forme de plug-ins ou add-ons pour le navigateur), développés par des sociétés tierces, permettant de maîtriser la collecte et l'utilisation des cookies.<br><br>

				<strong>Information complémentaire sur les cookies</strong><br>
				Pour en savoir plus sur les cookies, nous vous invitons à consulter Le site de la Commission Nationale de l'Informatique et des Libertés : <a href="https://www.cnil.fr/fr/maitriser-mes-donnees">https://www.cnil.fr/fr/maitriser-mes-donnees</a>
			</p>
		</div>
	</section>
{% endblock %}
