<div id="cookie-consent-banner" class="cookie-banner" style="display: none;">
    <div class="cookie-content">
        <div class="cookie-text">
            <h3>Respect de votre vie privée</h3>
            <p>
                Ce site utilise des cookies pour assurer son bon fonctionnement et mesurer son audience. 
                Vous pouvez accepter ou refuser leur dépôt. 
                <a href="{{ path('app_cookies') }}" class="cookie-link">En savoir plus sur notre charte des cookies</a>.
            </p>
        </div>
        <div class="cookie-actions">
            <button id="cookie-accept-all" class="btn-cookie btn-accept">Tout accepter</button>
            <button id="cookie-reject-all" class="btn-cookie btn-reject">Tout refuser</button>
        </div>
    </div>
</div>
