<div class="call-to-action">
	<div class="background">
		<div class="container">
			<div class="cta-titre-3">
				<div class="heading">
					<h2 class="rien-n-a-plus-de">
						<span class="cta-text-7">Rien n'a plus de valeur que votre</span>
					</h2>
					<div class="cta-div-temps">
						<p class="temps">
							<span class="cta-text-7">temps</span>
						</p>
					</div>
				</div>
				<p class="consacrez-le-votre">
					<span class="cta-text-7">consacrez-le à votre coeur de métier.</span>
				</p>
			</div>
			<div class="cta-sur-titre">
				<p class="cta-text-17">Retrouvez la sérénité, notre équipe devient la vôtre.</p>
			</div>
		</div>
		<a href="{{ path('app_contact') }}" class="cta-bouton-6" style="text-decoration: none;">
			<div class="cta-text-button-5">Contactez-nous</div>
		</a>
	</div>
</div>
