<div class="call-to-action">
	<div class="background">
		<div class="container">
			<div class="titre-3">
				<div class="heading">
					<h2 class="rien-n-a-plus-de">
						<span class="text-wrapper-7">Rien n'a plus de valeur que votre</span>
					</h2>
					<div class="div">
						<p class="temps">
							<span class="text-wrapper-7">temps</span>
						</p>
						<img class="vector-4" src="https://c.animaapp.com/ml166olt9ARs0G/img/vector-14.svg" alt=""/>
					</div>
				</div>
				<p class="consacrez-le-votre">
					<span class="text-wrapper-7">consacrez-le à votre coeur de métier.</span>
				</p>
			</div>
			<div class="sur-titre">
				<p class="text-wrapper-17">Retrouvez la sérénité, notre équipe devient la vôtre.</p>
			</div>
		</div>
		<div class="bouton-6">
			<div class="text-button-5">Contactez-nous</div>
		</div>
	</div>
</div>
<div class="d-GS-footer">
	<footer class="footer">
		<div class="footer-content">
			<div class="logo-RS">
				<div class="logo">
					<img class="PRIMAIRE" src="https://c.animaapp.com/ml166olt9ARs0G/img/primaire.svg" alt="Logo Gazette Solutions"/>
				</div>
				<p class="text-wrapper-18">
					Gazette Solutions simplifie vos tâches juridiques, vous offrant sérénité et temps pour votre
																																													          croissance.
				</p>
				<div class="RS">
					<a href="#" class="outline-brands-wrapper" aria-label="Suivez-nous sur LinkedIn">
						<img class="img" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-brands-linkedin.svg" alt="Icône LinkedIn"/>
					</a>
					<a href="#" class="outline-brands-wrapper" aria-label="Suivez-nous sur YouTube">
						<img class="img" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-brands-youtube.svg" alt="Icône YouTube"/>
					</a>
				</div>
			</div>
			<div class="div-4">
				<p class="span-wrapper-3">
					<span class="text-wrapper-19">Services</span>
				</p>
				<div class="menu-list">
					<div class="text-wrapper-20">Formalités légales</div>
					<a href="{{ path('app_annonces_legales') }}" class="text-wrapper-18">Annonces légales</a>
					<div class="text-wrapper-18">Secrétariat juridique</div>
					<div class="text-wrapper-18">Tous les services</div>
				</div>
			</div>
			<div class="div-4">
				<p class="span-wrapper-3">
					<span class="text-wrapper-19">A propos</span>
				</p>
				<div class="menu-list">
					<div class="text-wrapper-20">Qui sommes-nous ?</div>
					<a href="{{ path('app_actualites') }}" class="text-wrapper-18">Actualités</a>
					<div class="text-wrapper-18">Espace AL.pro</div>
					<div class="text-wrapper-18">Espace Formalités</div>
					<div class="text-wrapper-18">Nous contacter</div>
				</div>
			</div>
			<div class="NL">
				<p class="newsletter">
					<span class="text-wrapper-21">Newsletter</span>
				</p>
				<div class="div-5">
					<p class="text-wrapper-20">
						Renseignez votre adresse email pour rester informé des derniers changements juridiques et
																																																						            administratifs.
					</p>
				</div>
				<div class="div-5">
					<div class="input">
						<div class="zone-d-interaction">
							<input class="champ-rempli" placeholder="Adresse email" type="email"/>
						</div>
					</div>
					<div class="div-6">
						<input type="checkbox" id="newsletter_consent" class="check" aria-checked="false"/>
						<label for="newsletter_consent" class="label">
							<span class="text-wrapper-2">J'accepte la
							</span>
							<span class="text-wrapper-15">politique de confidentialité</span>
						</label>
					</div>
					<div class="bouton-7">
						<div class="text-button-6">S'inscrire à la newsletter</div>
					</div>
				</div>
			</div>
		</div>
	</footer>
	<img class="line" src="https://c.animaapp.com/ml166olt9ARs0G/img/line-1.svg" alt=""/>
	<div class="rglementaires">
		<div class="text-wrapper-22">Politique de confidentialité</div>
		<div class="text-wrapper-22">Mentions légales</div>
		<div class="text-wrapper-22">Charte sur les cookies</div>
		<div class="text-wrapper-22">Gérer vos cookies</div>
	</div>
</div>
