<footer class="d-GS-footer-8">
    <div class="logo-RS-8">
        <div class="logo-13">
            <img class="img-20" src="https://c.animaapp.com/ml0sjzoaeutvco/img/primaire.svg" alt="Logo Gazette Solutions" /> 
        </div>
        <p class="text-wrapper-155">
            Gazette Solutions simplifie vos tâches juridiques, vous offrant sérénité et temps pour votre croissance.
        </p>
        <div class="RS-6">
            <a href="#" class="outline-brands-wrapper-8" aria-label="LinkedIn">
                <img class="img-22" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-brands-linkedin.svg" alt="LinkedIn" />
            </a>
            <a href="#" class="outline-brands-wrapper-8" aria-label="YouTube">
                <img class="img-22" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-brands-youtube.svg" alt="YouTube" />
            </a>
        </div>
    </div>

    <div class="div-42">
        <p class="span-wrapper-18"><span class="text-wrapper-156">Services</span></p>
        <div class="menu-list-8">
            <div class="text-wrapper-157">Formalités légales</div>
            <a href="{{ path('app_annonces_legales') }}" class="text-wrapper-155">Annonces légales</a>
            <div class="text-wrapper-155">Secrétariat juridique</div>
            <div class="text-wrapper-155">Tous les services</div>
        </div>
    </div>

    <div class="div-42">
        <p class="span-wrapper-18"><span class="text-wrapper-156">A propos</span></p>
        <div class="menu-list-8">
            <div class="text-wrapper-157">Qui sommes-nous ?</div>
            <a href="{{ path('app_actualites') }}" class="text-wrapper-155">Actualités</a>
            <div class="text-wrapper-155">Espace AL.pro</div>
            <div class="text-wrapper-155">Espace Formalités</div>
            <div class="text-wrapper-155">Nous contacter</div>
        </div>
    </div>

    <div class="NL-8">
        <p class="newsletter-8"><span class="text-wrapper-158">Newsletter</span></p>
        <div class="div-43">
            <p class="text-wrapper-157">
                Renseignez votre adresse email pour rester informé.
            </p>
        </div>
        <div class="div-43">
            <div class="input-8">
                <div class="zone-d-interaction-8">
                    <input class="champ-rempli-8" placeholder="Adresse email" type="email" />
                </div>
            </div>
            <div class="checkbox-5">
                <div class="check-box-container">
                    <input type="checkbox" id="newsletter_consent_8" class="check-8" />
                    <label for="newsletter_consent_8" class="label-8">
                        <span class="text-wrapper-159">J’accepte la </span>
                        <span class="text-wrapper-149">politique de confidentialité</span>
                    </label>
                </div>
            </div>
            <div class="bouton-40"><div class="text-button-33">S’inscrire</div></div>
        </div>
    </div>
    
    <div class="line-8" style="height: 1px; background-color: #000; width: 100%; opacity: 0.1; margin: 20px 0;"></div>

    <div class="rglementaires-8">
        <div class="text-wrapper-160">Politique de confidentialité</div>
        <div class="text-wrapper-161">Mentions légales</div>
    </div>
</footer>
