<div class="GS-header">
	<div class="menu">
		<a href="{{ path('app_accueil') }}" class="PRIMAIRE-wrapper" aria-label="Retour à l'accueil Gazette Solutions">
			<img class="PRIMAIRE" src="https://c.animaapp.com/ml166olt9ARs0G/img/primaire.svg" alt="Logo Gazette Solutions"/>
			<img class="PRIMAIRE-SHORT" src="https://c.animaapp.com/ml166olt9ARs0G/img/primaire-short.svg" alt="Logo Gazette Solutions réduit"/>
		</a>
		<div class="menu-2" id="main-menu">
			<div class="menu-3 menu-dropdown-container">
				<div class="menu-label-group">
					<div class="text-wrapper-6">Nos services</div>
					<img class="img arrow-icon" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-interface-caret-down.svg" alt=""/>
				</div>
				<ul class="dropdown-menu">
					<li>
						<a href="#">Test 1</a>
					</li>
					<li>
						<a href="#">Test 2</a>
					</li>
					<li>
						<a href="#">Test 3</a>
					</li>
				</ul>
			</div>
			<div class="div-6">
				<div class="text-wrapper-6">Qui sommes-nous ?</div>
			</div>
			<a href="{{ path('app_actualites') }}" class="div-6">
				<div class="text-wrapper-6">Actualités</div>
			</a>
		</div>
		<div class="frame">

			<button class="bouton-8" aria-label="Se connecter à l'espace client" style="display: none;">
				<div class="text-button-7">Se connecter</div>
			</button>
			<a href="{{ path('app_contact') }}" class="bouton-9" aria-label="Contacter l'équipe Gazette Solutions">
				<div class="text-button-8">Contacter notre équipe</div>
			</a>
		</div>
		<div class="frame-responsive">
			<div class="bouton-responsive" style="display: none;">
				<img class="img-responsive" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-communication-user.svg" alt=""/>
			</div>
			<a href="{{ path('app_contact') }}" class="bouton-responsive">
				<img class="img-responsive" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-communication-phone.svg" alt=""/>
			</a>
			<div class="bouton-responsive" id="mobile-menu-btn">
				<img class="img-responsive" src="https://c.animaapp.com/ml166olt9ARs0G/img/outline-interface-menu.svg" alt=""/>
			</div>
		</div>
	</div>
</div>
