{% extends 'accueil_base.html.twig' %}

{% block title %}Politique de confidentialité - Gazette Solutions
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('css/politique_confidentialite/style.css') }}">
{% endblock %}

{% block content %}
	<!-- Main Content -->
	<section class="services-section">
		<div class="section-tag">
			<span class="tag-text">VOS DONNÉES</span>
			<img src="https://c.animaapp.com/ml2mt8s50CfbBZ/img/vector-14.svg" alt="" class="tag-underline">
		</div>

		<h1 class="page-title">Politique de confidentialité</h1>

		<div class="content-text">
			<p>
				Dernière mise à jour le 5 novembre 2025. Cette politique de confidentialité a pour but de décrire la manière dont vos données à caractère personnel sont collectées et traitées, 
                conformément aux dispositions de l'article 5 du Règlement européen 2016/679. Pour obtenir des informations complémentaires sur la protection des données personnelles, 
                vous pouvez consulter le site de la Commission Nationale de l'Informatique et des Libertés à l'adresse <a href="https://www.cnil.fr">cnil.fr</a>.<br><br>

				<strong>Définitions</strong><br><br>

				<strong>Responsable de traitement</strong><br>
				Le responsable de traitement est la personne morale (entreprise, commune, etc.) ou physique qui détermine les finalités et les moyens d'un traitement, c'est à dire l'objectif et la façon de le réaliser. En pratique et en général, il s'agit de la personne morale incarnée par son représentant légal.<br><br>

				<strong>Sous-traitant</strong><br>
				Le sous-traitant est la personne physique ou morale (entreprise ou organisme public) qui traite des données pour le compte d'un autre organisme (« le responsable de traitement »), dans le cadre d'un service ou d'une prestation.<br><br>

				<strong>Donnée(s) personnelle(s) ou Données à caractère personnel</strong><br>
				Donnée(s) personnelle(s) ou Données à caractère personnel désigne toute information relative à une personne physique identifiée ou identifiable au sens du Règlement européen sur la protection des données, que le Sous-traitant traite pour le compte du Responsable de traitement.<br><br>

				<strong>Violation de Données personnelles</strong><br>
				Violation de Données personnelles signifie une violation de la sécurité conduisant à la destruction accidentelle ou illégale, la perte, la modification, la divulgation ou l'accès non autorisé, aux Données personnelles transmises, stockées ou autrement traitées.<br><br>

				<strong>Traitement</strong><br>
				Traitement désigne toute opération ou ensemble d'opérations effectuées sur des Données personnelles, englobant la collecte, l'enregistrement, l'organisation, la structuration, le stockage, l'adaptation ou l'altération, la récupération, la consultation, l'utilisation, la divulgation par transmission, la diffusion ou combinaison, restriction ou effacement de Données personnelles.<br><br>

				<strong>Site</strong><br>
				Le Site désigne le site internet www.gazettesolutions.fr de La Gazette Solutions.<br><br>

				<strong>Site tiers</strong><br>
				Un Site tiers désigne un site externe non géré par La Gazette Solutions et qui n'est pas de la responsabilité de La Gazette Solutions.<br><br>

				<strong>Qui sommes-nous ?</strong><br><br>

				La Gazette Solutions est responsable des données personnelles que vous nous communiquez. Conformément à la réglementation applicable en matière de protection des données à caractère personnel, La Gazette Solutions est le « responsable du traitement » dont les coordonnées sont : 7 rue Jacquemars Giélée, 59800 Lille, France<br>
				Email : contact@gazettesolutions.fr<br>
				Représentant : Benjamin Poiret<br><br>

				<strong>Données personnelles collectées et traitées</strong><br><br>

				<strong>Données personnelles</strong><br>
				Les données personnelles collectées sur le Site sont les suivantes : Prénom, Nom, Fonction, Entreprise, Email et Téléphone. Ces données sont collectées lorsque vous effectuez l'une des opérations suivantes sur le Site : Enregistrement à la newsletter Inscription, à un événement, un atelier, une formation ou un jeu concours, envoi d'un message par le biais du formulaire de contact Demande de précommande pour réserver un produit ou une prestation de service Passation d'une commande en ligne avec paiement. Se référer aux conditions générales de ventes pour plus d'information sur la collecte et le traitement de vos données personnelles.<br><br>

				<strong>Finalité des traitements</strong><br>
				La collecte et le traitement des données répondent aux finalités suivantes : Pour vous envoyer par mail la newsletter, des emails sur des offres commerciales ou des emails de rappel d'un événement. Pour vous contacter afin de répondre à une demande émise de votre part (message de contact, inscription à un événement, pré commande ou commande en ligne).<br><br>

				<strong>Responsable du traitement des données et délégué à la protection des données</strong><br><br>
				Le responsable du traitement des données à caractère personnel est La Gazette Solutions. Il peut être contacté par mail à contact@gazettesolutions.fr Nous nous engageons, dans le cadre de nos activités, à respecter les dispositions du RGPD, et à effectuer un traitement licite, loyal et transparent de vos Données Personnelles. À savoir notamment à réaliser un traitement de données pour des finalités déterminées, explicites et légitimes, sans être traitées ultérieurement de manière incompatible avec ces finalités, pendant une durée qui n'excède pas la durée nécessaire aux finalités pour lesquelles elles sont collectées et traitées.<br><br>

				<strong>Données échangées chiffrées</strong><br><br>
				Le Site dispose d'un certificat SSL afin de garantir que les informations et le transfert des données transitant par le Site sont chiffrés et sécurisés. Un certificat SSL ("Secure Socket Layer" Certificate) a pour but de sécuriser les données échangées entre l'utilisateur et le Site.<br><br>

				<strong>Droits de l'utilisateur</strong><br><br>
				Pour toute information ou exercice de vos droits Informatique et Libertés sur les traitements de données personnelles gérées par La Gazette Solutions, l'utilisateur peut nous contacter par courrier à l'adresse 7 rue Jacquemars Giélée, 59800 Lille ou par mail à contact@gazettesolutions.fr. Afin que le responsable du traitement des données fasse droit à la demande, l'utilisateur est tenu de lui communiquer : ses prénom, nom, adresse e-mail, téléphone de contact et toute autre information jugée nécessaire pour l'exécution de la demande. Conformément à la réglementation concernant le traitement des données à caractère personnel, l'utilisateur bénéficie de droit d'accès, de rectification, d'opposition et le cas échéant de droit de portabilité, de limitation ou d'effacement aux données le concernant.<br><br>

				<strong>À propos des cookies</strong><br><br>
				Consultez notre page <a href="{{ path('app_cookies') }}">Charte sur les cookies</a> pour savoir comment paramétrer vos préférences dans les réglages de votre navigateur.<br><br>

				<strong>Conditions de modification de la politique de confidentialité</strong><br><br>
				L'éditeur du Site se réserve le droit de la modifier afin de garantir sa conformité avec le droit en vigueur. Par conséquent, l'utilisateur est invité à venir consulter régulièrement cette politique de confidentialité afin de se tenir informé des derniers changements qui lui seront apportés.
			</p>
		</div>
	</section>
{% endblock %}
