:root {
  --solutions: rgba(230, 48, 50, 1);
  --blanc: rgba(252, 253, 253, 1);
  --primaire: rgba(62, 95, 188, 1);
  --noir: rgba(33, 33, 33, 1);
  --confirmation: rgba(191, 245, 217, 1);
  --gris: rgba(242, 242, 242, 1);
  --info: rgba(191, 219, 245, 1);
  --noir-light: rgba(3, 3, 3, 0.5);
  --body-medium-font-family: "Montserrat", Helvetica;
  --body-medium-font-weight: 400;
  --body-medium-font-size: 14px;
  --body-medium-letter-spacing: 0.25px;
  --body-medium-line-height: 20px;
  --body-medium-font-style: normal;
  --label-large-font-family: "Montserrat", Helvetica;
  --label-large-font-weight: 500;
  --label-large-font-size: 14px;
  --label-large-letter-spacing: 0.10000000149011612px;
  --label-large-line-height: 20px;
  --label-large-font-style: normal;
  --body-small-font-family: "Montserrat", Helvetica;
  --body-small-font-weight: 400;
  --body-small-font-size: 12px;
  --body-small-letter-spacing: 0px;
  --body-small-line-height: 16px;
  --body-small-font-style: normal;
  --title-medium-font-family: "Open Sauce One", Helvetica;
  --title-medium-font-weight: 500;
  --title-medium-font-size: 16px;
  --title-medium-letter-spacing: 0px;
  --title-medium-line-height: 24px;
  --title-medium-font-style: normal;
  --title-small-font-family: "Open Sauce One", Helvetica;
  --title-small-font-weight: 500;
  --title-small-font-size: 14px;
  --title-small-letter-spacing: 0px;
  --title-small-line-height: 20px;
  --title-small-font-style: normal;
  --label-medium-font-family: "Montserrat", Helvetica;
  --label-medium-font-weight: 500;
  --label-medium-font-size: 12px;
  --label-medium-letter-spacing: 0.5px;
  --label-medium-line-height: 16px;
  --label-medium-font-style: normal;
}
