@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;700&family=Montserrat:wght@400;500;600;700;800&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html,
body {
  margin: 0px;
  height: 100%;
  overflow-x: hidden;
}


button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}

a {
  text-decoration: none;
}


.element-HP {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  position: relative;
  background-color: #fcfdfd;
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
}


.element-HP .PRIMAIRE-SHORT,
.element-HP .frame-responsive,
.element-HP .hero-content-responsive {
  display: none;
}


@media (max-width: 991px) {

  .GS-header .menu-2,
  .GS-header .frame,
  .GS-header .PRIMAIRE {
    display: none !important;
  }

  .GS-header .PRIMAIRE-SHORT,
  .GS-header .frame-responsive {
    display: flex !important;
  }
}